<select name="label" id="tags" class="select">
    <option value="-1" disabled selected>Choose a tag</option>
    {{#each allTags}}
    <option value="{{this._id}}">{{this.label}}</option>
    {{/each}}
</select>